body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #332;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Set background color of app container to white */
    border-radius: 10px; /* Add some border radius for a rounded look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

h1 {
    color: #333;
}

h2 {
    color: #666;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}