ul {
    list-style-type: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: grey;
}

h1 {
    text-align: center;
}



